<div class="card" style="width: 28rem;">
  <div class="card-body">
    <h5 class="card-title">Устройство</h5>
    <h6 class="card-subtitle mb-2 text-muted">Серийный номер</h6>
    <p class="card-text">{{cpe.serial_number}}</p>
    <h6 class="card-subtitle mb-2 text-muted">Производитель</h6>
    <p class="card-text">{{cpe.vendor_name}}</p>
    <a href="./" class="card-link">Список устройств</a>
  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="add_command({{cpe.id}})" >Добавить команду</button>

<table class="table  table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Команда</th>
        <th scope="col">Параметры</th>
        <th scope="col">Ответ</th>
        <th scope="col">Состояние</th>
        <th scope="col">Время исполнения</th>
      </tr>
    </thead>

    <tbody>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
    </tbody>
</table>
    